/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, h1, div, label{
  margin:0;
  padding:0;
  font-family:sans-serif;
  color:white;
  transition: all 250ms ease;
  font-size: 13px;
}

#settings{
  position:fixed;
  background: rgba(0,0,0,0.9);
  padding: 20px;
  margin:40px;
  width: 340px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

#settings-title{
  margin-bottom: 5px;
  font-size: 30px;
}

#instructions{
  margin-bottom: 20px;
  color: rgba(255,255,255,0.5);
}

label{
  font-size: 14px;
}

input{
  width:40px;
  text-align: center;
  background: none;
  color:white;
  border:none;
  font-size: 14px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

#recommended-values{
  margin-top: 5px;
  font-size: 10px;
  color: rgba(255,255,255,0.5);
}

input:focus {
  outline:none;
}

#color-selector{
  margin-top: 20px;
  background: none;
  color: white;
}

#color-selector:focus{
  outline:none;
}

#precision-selector{
  margin-top: 20px;
  background: none;
  color: white;
}

#precision-selector:focus{
  outline:none;
}

option{
  background:black;
  color:white;
}

#buttons-box{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

button{
  background:none;
  color: white;
  text-align: center;
  padding: 3px 7px;
  width:100px;
  border: 1px solid rgba(255,255,255,0.5);
  transition: all 250ms ease;
}

button:hover{
  background-color: rgba(255,255,255,0.2);
}

button:active{
  background-color: rgba(255,255,255,0.4);
}

#explanation-text{
  margin-top:10px;
}

.invisible{
  visibility:0;
  opacity:0;
  font-size:1px;
}
